<div class="container">
    <h2>CATÁLOGO DE RIESGOS</h2>
  
    <div class="tabs">
        <button [class.active]="activeTab === 'ocupation'" (click)="changeTab('ocupation')">Ocupaciones</button>
        <button [class.active]="activeTab === 'country'" (click)="changeTab('country')">Países</button>
        <button [class.active]="activeTab === 'identification-type'" (click)="changeTab('identification-type')">Identificaciones</button>
      </div>
    
      <div class="tab-content">
        <app-ocupation *ngIf="activeTab === 'ocupation'" [ocupations]="ocupations"></app-ocupation>
        <app-country *ngIf="activeTab === 'country'"></app-country>
        <app-identification-type *ngIf="activeTab === 'identification-type'"></app-identification-type>
      </div>
    
    <h3>Buscar</h3>
    <select class="selector" required >
      <option  >

      </option>
    </select>
    
  </div>
  