<div class="container">
    <h2>CATÁLOGO DE RIESGOS</h2>

    <div class="tabs">
        <button [class.active]="selectedTab === 'ocupation'" (click)="selectTab('ocupation')">Ocupaciones</button>
        <button [class.active]="selectedTab === 'country'" (click)="selectTab('country')">Países</button>
        <button [class.active]="selectedTab === 'identification-type'"
            (click)="selectTab('identification-type')">Identificaciones</button>
    </div>

    <div class="tab-content">
        <app-ocupation *ngIf="selectedTab === 'ocupation'"></app-ocupation>
        <app-country *ngIf="selectedTab === 'country'"></app-country>
        <app-identification-type *ngIf="selectedTab === 'identification-type'"></app-identification-type>
    </div>

    <h3>Buscar</h3>
    <select class="selector" required (change)="selectOption($event)">
        <option *ngFor="let option of selectedOptions" [value]="option.value">
            {{ option.label }}
        </option>
    </select>

</div>