<h3>Buscar</h3>
    <input class="inputbox" type="text" placeholder="País" [(ngModel)]="searchTerm" />

    <div>
<table class="custom-table">
    <thead>
        <tr>
            <th>País</th>
            <th>Código SUGEF</th>
            <th>Nivel de riesgo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let country of filteredCountries()">
            <td>{{ country.name }}</td>
            <td>{{ country.sugefCode }}</td>
            <td>{{ country.riskScore }}</td>
        </tr>
    </tbody>
</table>
</div>
<button class="reclassify-button">
    <i class="icon-pencil"></i> Reclasificar
</button>